
@{
    ViewBag.Title = "Index";
}

<h2>Dobrodosli na ovu aplikaciu</h2> <br\>
<h3>Ovo su vam tri poslednje fotografie :)))))</h3>
    <p>
        @Html.Action("_PhotoGallery", "Photo", new { broj=3})
    </p>

